@model Product
@{
    Layout = "_Layout";
}
<div class="container">
    <h1 class="my-4">
        @Model.Name
    </h1>

    <div class="row">
        <div class="rol-md-8">
            <img class="bd-placeholder-img card-img-top" 
                        width="225" height="225" 
                        src="@Model.ImageLink" 
                        role="img" aria-label="Placeholder: Thumbnail" />
        </div>

        <div class="col-md-4">
            <h3>@Model.Name</h3>
            <p>@Model.Description</p>
        </div>

        <h3 class="my-4">Related Project</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="" />
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="" />
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="" />
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="" />
                </a>
            </div>
        </div>
    </div>
</div>